{{ $url := .Destination | safeURL }}
</p>
<figure class="article-img">
    <button class="img-dialog-button" popovertarget="{{ $url }}" popovertargetaction="show" aria-label="Agrandir l'image">
        <img src="{{ $url }}" alt="{{ .Text }}" referrerpolicy="no-referrer" loading="lazy" class="img-dialog-content" />
    </button>
    {{ if .Title }}
    <figcaption class="img-desc">
        {{ .Title | markdownify | safeHTML }}
    </figcaption>
    {{ end }}
</figure>
<div class="img-dialog" id="{{ $url }}" popover role="dialog" aria-label="{{ with .Text }}{{ . }}{{ else }}Image agrandie{{ end }}">
    <button class="img-dialog-button" popovertarget="{{ $url }}" popovertargetaction="hide" aria-label="Fermer l'image">
        <img src="{{ $url }}" alt="{{ .Text }}" referrerpolicy="no-referrer" loading="lazy" class="img-dialog-content" />
    </button>
</div>
<p>