$breakpoints-sm: 36em;
$breakpoints-md: 48em;
$breakpoints-lg: 62em;
$breakpoints-xl: 78em;

$max-width: 85em;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    color: var(--color-global-text);
    background-color: var(--color-global-background);

    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.8em;
    font-family: Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;

    width: 100vw;
    margin: auto;
    padding: 0 .5em;
    max-width: #{$max-width};

    a {
        color: var(--color-global-link);

        &:visited {
            color: var(--color-global-link-visited);
        }

        &:hover,
        &:focus {
            color: var(--color-global-link-hover);
        }
    }
}

h1,
h2,
h3 {
    font-weight: bold;
}

img {
    height: auto;
    max-width: 100%;
}

.main-menu {
    a {
        border-bottom: .1em solid;
        padding: .5em;
        text-decoration: none;

        &.active {
            border-color: var(--color-mmenu-link-hover);
            border-bottom-width: .25em;
        }

        &:hover,
        &:focus {
            border-color: var(--color-mmenu-link-hover);
        }
    }
}

.content-main {
    display: grid;
    gap: 0px 1em;
    grid-template-areas: "top_panel  top_panel  " "left_panel right_panel";
    grid-template-columns: 1fr 2fr;

    h1 {
        font-size: 1.6em;
        line-height: 1.25em;
    }

    h2 {
        font-size: 1.3em;
        line-height: 1.51em;
        border-bottom: 1px solid;

        a {
            text-decoration: none;
        }
    }

    h3 {
        font-size: 1.15em;
        line-height: 1.66em;
    }
}

.top_panel {
    grid-area: top_panel;

    color: var(--color-tpanel-text);
    background-color: var(--color-tpanel-background);
    border-bottom: .5em solid;
    border-color: var(--color-tpanel-border);

    .date-info {
        font-weight: bold;
    }

    .reading-time {
        font-style: italic;
    }
}

.left_panel {
    grid-area: left_panel;

    padding: .5em 1em;

    color: var(--color-spanel-text);
    background-color: var(--color-spanel-background);

    h2 {
        margin-bottom: .5em;
    }
}

.right_panel {
    grid-area: right_panel;
}

.toc {
    a {
        color: var(--color-spanel-toc-link);
        text-decoration: none;

        &:visited {
            color: var(--color-spanel-toc-link-visited);
        }

        &:hover,
        &:focus {
            color: var(--color-spanel-toc-link-hover);
        }
    }

    ul {
        margin: 0;
        padding: 0 1.5em;

        ::marker {
            color: var(--color-spanel-toc-marker);
        }
    }
}

.ref {
    &s-list {
        margin: 0;
        padding: 0 1.5em;

        ::marker {
            color: var(--color-spanel-ref-marker);
        }
    }

    &-item {
        list-style: disc;

        &:target {
            font-weight: bold;
            list-style: "⮞ ";
        }

        a {
            color: var(--color-spanel-ref-link);

            &:visited {
                color: var(--color-spanel-ref-link-visited);
            }

            &:hover,
            &:focus {
                color: var(--color-spanel-ref-link-hover);
            }
        }
    }
}

.tags {
    &-list {
        padding: .5em 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 1em;
    }

    &-link {
        text-decoration: none;
        text-transform: capitalize;
        border-radius: .5em;
        padding: .25em .5em;

        color: var(--color-spanel-tags-button-text);
        border: .1em solid var(--color-spanel-tags-button-border);
        background-color: var(--color-spanel-tags-button-background);

        &:visited {
            color: var(--color-spanel-tags-button-text-visited);
        }

        &:hover,
        &:focus {
            color: var(--color-spanel-tags-button-text-hover);
            border-color: var(--color-spanel-tags-button-border-hover);
            background-color: var(--color-spanel-tags-button-background-hover);
        }
    }
}


.site-footer {
    text-align: center;

    color: var(--color-footer-text);
    border-top: .5em solid var(--color-footer-border);
    background-color: var(--color-footer-background);
}

.site-header {
    text-align: center;
    margin-bottom: 2.5em;
}

.main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.main-menu li {
    display: inline;
    padding: 0.5em;
}

.blog-article {
    color: var(--color-article-text);
    background-color: var(--color-article-background);

    a {
        color: var(--color-article-link);

        &:visited {
            color: var(--color-article-link-visited);
        }

        &:hover,
        &:focus {
            color: var(--color-article-link-hover);
        }
    }

    h1,
    h2,
    h3 {
        border-color: var(--color-article-title-border);
    }

    .box {
        padding: 1em;
        margin: 1em;
        border: .1em dashed var(--color-article-box-msg-border);
        font-family: monospace;
        font-size: .9em;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;

        &.warning {
            border-color: var(--color-article-box-warn-border);

            &::before {
                content: "⚠️";
                font-size: 2em;
                margin: auto;
            }
        }
    }
}

.liens {
    .icon-link.svg svg {
        height: 2em;
        fill: var(--color-spanel-author-link);

        &:visited {
            fill: var(--color-spanel-author-link-visited);
        }

        &:hover,
        &:focus {
            fill: var(--color-spanel-author-link-hover);
        }
    }

    .icon-link {
        text-decoration: none;
        padding: 1em;
    }

    .author_contact {
        margin-top: 1.5em;
    }

    .author_social {
        margin-top: 1.5em;
    }
}

.list {
    .article-header {
        border-bottom: .1em solid;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2em;
        padding: .5em 0;
    }

    .article-title a {
        text-decoration: none;
    }

    .article-title {
        margin: 0;
    }

    .article-date {
        margin-top: auto;
    }

    .article-view {
        border-left: .5em solid var(--color-article-title-border);
        padding: 1em;
        margin: 2em;
    }

    .article-summary {
        font-size: 1.25em;
    }

    .article-footer {
        text-align: right;
    }

    .article-read {
        border-radius: 0;
        font-weight: bold;
    }
}

.paginator {
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
}

.author-face {
    display: block;
    margin: auto;
    border-radius: 1em;
}

.article-info {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.toggle-widget {
    display: none;
}

@media (max-width: $breakpoints-md) {
    .content-main {
        display: block;
    }

    .left_panel {
        display: none;
    }

    .list {
        .article-header {
            display: block;
        }

        .article-date {
            text-align: right;
        }

        .article-view {
            margin: 2em .5em;
            border-left-width: .25em;
        }
    }

    .toggle {
        &-widget {
            z-index: 100;
            display: block;
            position: fixed;
            top: 1em;
            right: 1em;
            background-color: var(--color-wtoggle-background);
            padding: .5em;
            border-radius: .25em;
        }

        &-icon {
            width: 2em;
            height: 2em;
            position: relative;

            &-line {
                display: block;
                position: absolute;
                height: .15em;
                background-color: var(--color-wtoggle-line);
                top: calc(50%);
                left: 0;
                right: 0;
                transition: transform .2s ease-in;

                &.vertical {
                    transform: rotate(90deg);
                }

                &.horizontal {
                    transform: rotate(0deg);
                }
            }
        }

        &-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}